--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0 (Debian 17.0-1.pgdg120+1)
-- Dumped by pg_dump version 17.0 (Debian 17.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AccessProperties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AccessProperties" (
    "AccessPropertyId" integer NOT NULL,
    "ServiceName" text NOT NULL,
    "AccessCount" integer NOT NULL
);


ALTER TABLE public."AccessProperties" OWNER TO postgres;

--
-- Name: AccessProperties_AccessPropertyId_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."AccessProperties" ALTER COLUMN "AccessPropertyId" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AccessProperties_AccessPropertyId_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: AccessProperties; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AccessProperties" ("AccessPropertyId", "ServiceName", "AccessCount") FROM stdin;
0	A05_EGRNI_WGS84	20
1	A01_ZIS_WGS84	20
2	A06_ATE_TE_WGS84	20
3	C01_Belarus_WGS84	1000
\.


--
-- Name: AccessProperties_AccessPropertyId_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."AccessProperties_AccessPropertyId_seq"', 1, false);


--
-- Name: AccessProperties PK_AccessProperties; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AccessProperties"
    ADD CONSTRAINT "PK_AccessProperties" PRIMARY KEY ("AccessPropertyId");


--
-- Name: AccessProperties ServiceName; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AccessProperties"
    ADD CONSTRAINT "ServiceName" UNIQUE ("ServiceName") INCLUDE ("ServiceName");


--
-- PostgreSQL database dump complete
--

